*{font-family: "Roboto Slab";}


@font-face{
  font-family: "Roboto Slab";
  font-optical-sizing: auto;
  font-style: normal;
  src: https://fonts.google.com/selection/embed
}

body{display: grid;
     grid-template-columns: 1fr 4fr;
     grid-template-rows: 1fr 4fr;
     margin: 0;
     height: 100vh;
     width: 100vw
     }

.Sidebar{background-color: #02a2df;
         grid-column: 1/2;
         grid-row: 1/3;}

.Header{background-color: white;
        grid-column: 2/3;
        grid-row: 1/2;
        ;}

.search{border-radius: 15px;
        background-color: rgb(214, 221, 228);
        border: none;
        height: 22px;
        width: 600px
        }

.searchButton{height: 20px; width: 20px; margin-right: 10px;}

.main-content{background-color: rgb(214, 221, 228);
              display: grid;
              grid-template-columns: 3fr 1fr;
}

a{text-decoration: none;
  color: white;
  }

.dashboard{margin: 20px 10px 60px 20px; font-size: 30px; display: flex; color: white;}

.dashImg{width: 50px; fill: white}

.allImg{fill: white; width: 25px; margin-left: 6px;}

.Name{margin-top: 3px; margin-left: 5px;}

.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy{display: flex;}



.main-links{display: grid;
            grid-template-columns: 1fr; 
            gap: 15px;
            margin: 10px 10px 40px 20px}

.help-links{display: grid;
           grid-template-columns: 1fr; 
           gap: 15px;
           margin: 10px 10px 40px 20px}

h5.greet{margin-bottom: 0; padding: 0}

p.name1{margin-top: 0; padding: 0}

.search-bar{margin-left: 130px; margin-right: 300px; display: flex; margin-top: 20px;}

.profile-bar{display: grid; grid-template-columns: 1fr 1fr; margin-top: 50px;
             }

.buttons{justify-self: right; align-self: center; margin-right: 300px;}

.new-button, .upload, .share{
  margin-left: 30px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #02a2df;
  color: white}

  .new-button:active, .upload:active, .share:active{border: 1px solid white}

.name{justify-self: left; align-self: center; margin-left: 130px}

.projects{display: grid;
          gap: 51px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          margin: 20px;
          margin-top: 0;
          height: 90%;
                   }
      
.project1 , .project2, .project3, .project4, .project5, .project6{background-color: white; box-shadow: inset 7px 0 orange}


.Announcements{ grid-column: 2/3;}

.trending{grid-column: 2/3}

.content-grid1{grid-row: 1/3;}

