body{display: grid;
     grid-template-columns: 1fr 4fr;
     grid-template-rows: 1fr 4fr;
     margin: 0;
     height: 100vh;
     width: 100vw
     }

.Sidebar{background-color: gray;
         grid-column: 1/2;
         grid-row: 1/3;}

.Header{background-color: lightblue;
        grid-column: 2/3;
        grid-row: 1/2}

.main-content{background-color: lightgreen;
              grid-column: 2/3;
              grid-row: 2/3}

a{text-decoration: none;
  color: white;
  }

.dashboard{margin: 10px 10px 40px 10px}

.main-links{margin: 10px 10px 80px 10px;
            display: flex;
            flex-direction: column;}

.help-links{margin: 10px 10px 0px 10px;}